@import '../layout';
@import '../theme';

.house {
  position:relative;
  display:inline-block;
  font-size:2em;
  text-align:center;
  padding:0 0.2em;
}

.house label {
  display:block;
  font-family:'Megrim', cursive;
  font-size:0.5em;
  color:#555;
  font-weight:bold;

  &:hover {
    cursor:pointer;
    text-decoration:underline;
  }
}
