@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_base\.scss}line{font-family:\000034}}
html {
  position: relative;
  min-height: 100%;
  background: #f4f4f4; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_base\.scss}line{font-family:\0000310}}
body {
  margin: 0 0 1em;
  font-family: 'Forum', serif;
  color: #222;
  font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_base\.scss}line{font-family:\0000317}}
header {
  padding-bottom: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_base\.scss}line{font-family:\0000321}}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1em;
  width: 100%;
  padding: 0.2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_base\.scss}line{font-family:\0000330}}
footer, header {
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_base\.scss}line{font-family:\0000334}}
.houses {
  position: relative;
  text-align: center;
  font-size: 1.3em;
  white-space: nowrap; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_base\.scss}line{font-family:\0000341}}
.view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 10; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_base\.scss}line{font-family:\0000350}}
.divider {
  margin: 1em 0;
  border-bottom: solid 1px #eee; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_base\.scss}line{font-family:\0000355}}
.content {
  padding: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_base\.scss}line{font-family:\0000359}}
h1 {
  font-weight: normal;
  text-rendering: optimizelegibility;
  font-style: normal;
  font-size: 2.74em;
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_base\.scss}line{font-family:\0000368}}
a {
  text-decoration: none;
  color: #1c70b3; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_base\.scss}line{font-family:\0000373}}
.hidden {
  display: none; }

/* Westerosi Family Colors */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_families\.scss}line{font-family:\0000358}}
.frey {
  background-color: #bfbdb7;
  color: #bfbdb7; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_families\.scss}line{font-family:\000039}}
  .frey.shield:after {
    border-top-color: #bfbdb7; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_families\.scss}line{font-family:\0000359}}
.stark {
  background-color: #333;
  color: #333; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_families\.scss}line{font-family:\000039}}
  .stark.shield:after {
    border-top-color: #333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_families\.scss}line{font-family:\0000360}}
.bolton {
  background-color: #D3637A;
  color: #D3637A; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_families\.scss}line{font-family:\000039}}
  .bolton.shield:after {
    border-top-color: #D3637A; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_families\.scss}line{font-family:\0000361}}
.targaryen {
  background-color: #333;
  color: #333; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_families\.scss}line{font-family:\000039}}
  .targaryen.shield:after {
    border-top-color: #333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_families\.scss}line{font-family:\0000362}}
.bolton {
  background-color: #D3637A;
  color: #D3637A; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_families\.scss}line{font-family:\000039}}
  .bolton.shield:after {
    border-top-color: #D3637A; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_families\.scss}line{font-family:\0000363}}
.lannister {
  background-color: #a3403d;
  color: #a3403d; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_families\.scss}line{font-family:\000039}}
  .lannister.shield:after {
    border-top-color: #a3403d; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_families\.scss}line{font-family:\0000364}}
.arryn {
  background-color: #68a4bc;
  color: #68a4bc; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_families\.scss}line{font-family:\000039}}
  .arryn.shield:after {
    border-top-color: #68a4bc; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_families\.scss}line{font-family:\0000365}}
.greyjoy {
  background-color: #404040;
  color: #404040; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_families\.scss}line{font-family:\000039}}
  .greyjoy.shield:after {
    border-top-color: #404040; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_families\.scss}line{font-family:\0000366}}
.tyrell {
  background-color: #909b8b;
  color: #909b8b; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_families\.scss}line{font-family:\000039}}
  .tyrell.shield:after {
    border-top-color: #909b8b; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_families\.scss}line{font-family:\0000367}}
.martell {
  background-color: #e69d68;
  color: #e69d68; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_families\.scss}line{font-family:\000039}}
  .martell.shield:after {
    border-top-color: #e69d68; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_families\.scss}line{font-family:\0000368}}
.baratheon {
  background-color: #f6ca82;
  color: #f6ca82; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_families\.scss}line{font-family:\000039}}
  .baratheon.shield:after {
    border-top-color: #f6ca82; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_families\.scss}line{font-family:\0000369}}
.tully {
  background-color: #394ea0;
  color: #394ea0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_families\.scss}line{font-family:\000039}}
  .tully.shield:after {
    border-top-color: #394ea0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_house\.scss}line{font-family:\000034}}
.house {
  position: relative;
  display: inline-block;
  font-size: 2em;
  text-align: center;
  padding: 0 0.2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_house\.scss}line{font-family:\0000312}}
.house label {
  display: block;
  font-family: 'Megrim', cursive;
  font-size: 0.5em;
  color: #555;
  font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_house\.scss}line{font-family:\0000319}}
  .house label:hover {
    cursor: pointer;
    text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_shield\.scss}line{font-family:\000034}}
.shield {
  position: relative;
  bottom: 0;
  right: 0;
  display: inline-block;
  width: 2em;
  height: 2em;
  margin-bottom: 0.6em;
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_shield\.scss}line{font-family:\0000315}}
.shield img {
  position: relative;
  width: 100%;
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_shield\.scss}line{font-family:\0000321}}
.shield:after {
  content: '';
  position: absolute;
  top: 100%;
  display: block;
  border-top: solid 0.5em;
  border-left: solid 1em transparent;
  border-right: solid 1em transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_shield\.scss}line{font-family:\0000335}}
.large.shield {
  font-size: 4em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_bar\.scss}line{font-family:\000034}}
.house .bar {
  -webkit-transition-duration: 0.5s;
  box-shadow: inset 2em 0 rgba(255, 255, 255, 0.1), inset 5em 0 rgba(255, 255, 255, 0.3);
  font-size: 0.5em;
  width: 4em;
  position: relative;
  bottom: 100%;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.4);
  border-radius: 0.2em;
  bottom: -0.2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_bar\.scss}line{font-family:\0000316}}
  .house .bar .points {
    line-height: 2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_modal\.scss}line{font-family:\000034}}
.overlay {
  background: rgba(0, 0, 0, 0.3); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_modal\.scss}line{font-family:\000038}}
.modal {
  background: #fff;
  width: 400px;
  margin: 1em auto;
  text-align: center;
  border-radius: 0.2em;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_modal\.scss}line{font-family:\0000316}}
  .modal .strip {
    height: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dan\/dev\/personal\/votewesteros\.com\/app\/styles\/modules\/_modal\.scss}line{font-family:\0000320}}
  .modal h1 {
    font-family: 'Megrim', cursive; }

/*# sourceMappingURL=westeros.css.map */
